
@use"./partial/variables";
@use"./partial/colors";
@use"./partial/typography";

header{
    background-color: variables.$primary-color;
    height: 75px;
    color: white;
    nav{
        text-align: right;
        a{
            margin: 8px;
            color: white;
        }
    }   
    
}

body {
    margin: 0 auto;
    width: 1000px
}

.section1{
    display:flex;
    justify-content: center;
    article{
        text-align: center;
        width: 50%;
        p{
            color: colors.$primary-color;
            font-family: typography.$primary-font;
        }
    a{
        color: colors.$secondary-color;
    }    
        
    }
}

footer{
    background-color: variables.$secondary-color;
    height: 50px;
    display: flex;
    color: white;
    p{
        margin: 20px;
    }
}

