
@use"./partial/colors";
@use"./partial/fontcolors";

header{
    background-color: colors.$primary-color;
    height: 75px;
    color: white;
    nav{
        text-align: right;
        a{
            margin: 8px;
            color: white;
        }
    }   
    
}

body {
    margin: 0 auto;
    width: 1000px
}

.section1{
    display:flex;
    justify-content: center;
    article{
        text-align: center;
        width: 50%;
        color: fontcolors.$secondary-fontcolor;
    }
}

footer{
    background-color: colors.$secondary-color;
    height: 50px;
}

