

header{
    background-color:#150300;
    height: 75px;
    color: white;
    nav{
        text-align: right;
        a{
            margin: 8px;
            color: white;
        }
    }   
    
}

body {
    margin: 0 auto;
    width: 1000px
}

.section1{
    display:flex;
    justify-content: center;
    article{
        text-align: center;
    }
}

footer{
    background-color: #575757;
    height: 50px;
}

